@media screen and (max-width: 992px) {
    .wrapper-for-arrows{
		width: 90% !important;
	}
  }
.content-wrapper {
    margin: auto;
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Poppins';
}
.content-wrapper h3{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}
.blue-line {
	height: 0.3rem;
	width: 6rem;
	background-color: rgb(79, 143, 226);
	margin-bottom: calc(3rem + 2vmin);
}
#personName{
    color: #00aaae;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
#profession{
    color: black;
    margin-bottom: 10px;
}
#description{
    font-size: 14px;
    text-align: justify;
}
.wrapper-for-arrows {
    padding: 10px 70px;
	position: relative;
	width: 70%;
	border-radius: 2rem;
	overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	display: grid;
	place-items: center;
}
.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(2rem + 1vmin);
	width: 100%;
}
#imgDiv {
	border-radius: 50%;
	width: calc(6rem + 4vmin);
	height: calc(6rem + 4vmin);
	position: relative;
	box-shadow: 5px -3px rgb(79, 143, 226);
	background-size: cover;
	margin-bottom: calc(0.7rem + 0.5vmin);
}
.arrow-wrap {
	position: absolute;
	top: 50%;
}
.arrow {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid rgb(79, 143, 226);
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}
.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}
.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}
.surprise-me-btn {
	border: 2px solid rgb(79, 143, 226);
	background-color: rgb(224, 238, 255);
	color: rgb(79, 143, 226);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(7rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: calc(1.4rem + 1vmin);
}
.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}
.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

@keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}
@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}
