/* global css  */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oleo+Script+Swash+Caps&family=Poppins&family=Roboto:wght@100;400&family=Tiro+Gurmukhi&family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none !important;
}
li{
    list-style: none;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-box-shadow{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
body{
    position: relative;
}
.hr{
    width: 40%;
    height: 2px;
    box-shadow: 0px 3px 4px rgb(4, 129, 164);
    border: none;
    background: none;
    margin-bottom: 25px;
}

/* font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Uchen', serif; */






/* scroll bar css  */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(197, 197, 197); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00aaae; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #018789; 
  }




/* navbar css start ---------------------------------------- */
.navbar{
    width: 100%;
    height: 15vh;
    padding: 0px 100px !important;
}
.navbar.active{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%);
}
.navbar .logo{
    width: 60px;
}
.navbar ul li{
    margin-right: 30px;
}
.navbar ul{
    margin-bottom: 0;
}
.navbar ul li a{
    color: rgb(4, 4, 4);
    font-size: 18px;
    transition: 0.6s;
    font-weight: 400;
}
.navbar ul li a:hover{
    color: #00aaae;
}
.navbar ul li a i{
    color: #00aaae;
    font-size: 22px;
    margin-left: 20px;
}
/* navbar css end ------------------------------------------ */








/* hero section css starts ////////////////////////////////////////////  */
.hero{
    width: 100%;
    height: 85vh;
    margin: auto !important;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero h1,
.hero button{
    position: absolute;
    left: 100px;
    top: 200px;
    /* font-family: 'Uchen', serif; */
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
    color: #00aaae;
}
.hero .h1-2{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Oleo Script Swash Caps', cursive;
    top: 280px;
    font-size: 3rem;
}
.hero .button{
    top: 380px;
    font-size: 20px;
    font-family: 'Poppins';
    border: none;
    background: white;
    border: 1px solid #00aaae;
    padding: 7px 25px;
    border-radius: 8px;
    transition: 0.5s;
    color: #00aaae;
}
.hero .button:hover{
    color: white;
    background: #00aaae;
}
/* hero section  end ******************************************  */









/* home css start -----------------------------------------------------  */
.home{
    width: 100%;
    margin:auto !important;
    height: 85vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%);
}
.home .left-section,
.home .right-section{
    width: 100%;
    padding: 5px 25px;
    position: relative;
}
.home .left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .left-section .image{
    width: 70%;
}
.home .right-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 40px !important;
}
.home .right-section h3{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Tiro Gurmukhi', serif;
    color: #00aaae;
}
.home .right-section p{
    font-size: 17px;
    text-align: justify;
    font-family: 'Uchen', serif;
}
.home .right-section span{
    color: coral;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}
.watsapp{
    position: fixed !important;
    cursor: pointer !important;
    bottom: 40px !important;
    z-index: 111 !important;
    right: 30px !important;
}



.swiper {
    width: 100%;
    height: 100%;
}
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide .lottie {
    display: block;
    width: 100%;
    margin-bottom: 80px;
  }
/* font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Uchen', serif; */


/* home css end -----------------------------------------------------  */












/* about css start ************************************  */
.about{
    width: 100%;
    /* height: 100vh !important; */
    padding: 40px 20px 20px 20px !important;
}
.about .left-section,
.about .right-section{
    width: 100% !important;
    height: 100% !important;
}
.about .left-section img{
    width: 100%;
    height: 100%;
}
.about .right-section{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    justify-content: center;
}
.about .right-section h4,
.heading{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Tiro Gurmukhi', serif;
    margin-bottom: 10px;
    color: #00aaae;
}

.about .right-section p{
    font-family: 'Uchen', serif;
    text-align: justify;
}
.about .right-section .social-media > *{
    cursor: pointer;
}
/* about css end ************************************  */










/* product css start **************************************** */
.gallery{
    padding-top: 55px 30px 0px 30px; 
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    margin: 0px auto 0px !important;
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%); */
}
.gallery .product img{
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.gallery .product{
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
}
.gallery .product img:hover{
    transform: scale(1.2);
}
/* product css end   **************************************** */








/* why us section css start  */
.why-us{
    padding: 125px 60px 0px 60px;
    margin: auto !important;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%);
}
.why-us h1{
    color: #00aaae;
}
.why-us hr{
    margin-bottom: 30px !important;
}
.why-us .icon{
    padding: 15px 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.why-us .icon i{
    padding: 25px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    font-size: 2rem;
    background: #00aaae;
    color: white;
}
.why-us .icon h4{
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
    color: rgb(22, 55, 98);
    font-family: 'Roboto', sans-serif;
}
.why-us .icon p{
    text-align: justify;
    margin-top: 10px;
    font-family: 'Uchen', serif;
}
/* why us section css end  */





/* banner section css start  */
.banner{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%);
    margin: auto !important;
    padding: 70px 50px 0px 50px;
}
.banner .banner-img{
    border-radius: 15px;
}
.banner img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
    border-radius: 15px;
}
.banner img:hover{
    transform: scale(1.3) rotate(-10deg);
}
/* banner section css end  */












/* foooter section start  */
.footer.active{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 43%, rgba(235,238,253,1) 59%);
}
.footer{
    padding: 150px 100px 20px 100px !important;
}
.footer .logo,
.footer .contact-us{
    width: 100%;
    height: 100%;
}
.footer .logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.footer .logo img{
    width: 80px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.footer .logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.footer .logo .icons i{
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #00aaae;
    transition: 0.8s;
    background: #00aaae;
}
.footer .logo .icons i:hover{
    color: #00aaae;
    background: white;
}
.footer .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer h3{
    color: #00aaae;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
}
.footer .contact-us p{
    font-size: 15px;
    text-align: justify;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.footer-hr{
    width: 50%;
    height: 2px !important;
    border-radius: 15px;
    background: #00aaae;
    margin-bottom: 40px;
}
.footer-hr-2{
    width: 2px;
    height: 2px;
    border-radius: 550%;
    background: #00aaae;
    padding: 1px;
    margin-left: 3px;
}
.footer .guide{
    padding-left: 80px !important;
}
.footer .guide ul li a{
    margin-left: 15px;
    transition: 0.5s;
    color: black;
}
.footer .guide ul li i{
    color: #00aaae;
    cursor: pointer;
    transition: 0.5s;
}
.footer .join img{
    width: 40%;
}
.footer .join input{
    width: 70%;
    height: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    border: 1px solid #00aaae;
}
.footer .join button{
    border: none;
    background: #00aaae;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00aaae;
    transition: 0.5s;
    padding: 10px;
    max-height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
}
.footer .join button:hover{
    color: #00aaae;
    background: white;
}
.footer .join img{
    margin-top: 25px;
    margin-right: 8px;
    border-radius: 8px;
}
.main-hr{
    width: 80%;
    background: #00aaae;
    margin: auto;
}
.main-hr-2{
    width: 100%;
    margin-bottom: 20px !important;
    margin-top: 50px !important;
}
.footer .copy-right{
    font-weight: 600;
    font-family: 'Poppins';
}
/* foooter section end  */










/* contact css start **************************************** */
.contact{
    margin-top: 100px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .left-section,
.contact .right-section{
    width: 100%;
    height: 100%;
    position: relative;
}
.contact .left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .left-section img{
    width: 65%;
}
.contact .right-section{
    padding: 10px 100px;
}
.contact .right-section input{
    margin-bottom: 18px;
    padding: 0px 10px;
    transition: 0.8s;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #00aaae;
    width: 100% !important;
    height: 25px;
}
.contact .right-section input:focus{
    height: 40px;
    border: none;
}
.contact .right-section button{
    padding: 8px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.8s;
    background: #00aaae;
    border: none;
    border: 1px solid #00aaae;
    margin-top: 40px;
    border-radius: 5px;
}
.contact .right-section button:hover{
    color: #00aaae;
    background: white;
}
/* .contact iframe{
    width: 100%;
    margin-top: 60px;
    border-radius: 15px;
} */
.contact .banner-contact{
    margin-top: 50px;
}
.contact .banner-contact .left-section,
.contact .banner-contact .right-section{
    width: 100% !important;
    padding: 20px;
}
.contact .banner-contact .left-section img,
.contact .banner-contact .right-section img{
    width: 100%;
    border-radius: 15px;
}
/* contact css end **************************************** */
